@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}



.header {
    transition: background-color 1s ease, position 1s ease, top 1s ease;
    top: 0;
    z-index: 99;
    width: 100%;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.header .container {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}

.header .container nav {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.inline-title {
    display: inline;
  }

  
.header .container .navbar2 a {
    font-size: 14px;
    font-weight: 700;
    padding: 15px 20px;
}

.header .container .right-data {
    display: flex;
    align-items: center;
}

.header .container .right-data #menu2 {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    display: none;
}

.header .container .right-data .whatsapp {
    padding: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
}

@media (max-width:1280px) {
    section {
        padding: 10px 50px;
    }

    .header .container .navbar {
        position: absolute;
        background-color: var(---white);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
        width: 100%;
        top: 10%;
        right: 0%;
        z-index: 1000;
        border-radius: 30px;
        visibility: hidden;
    }

    .header .container nav .navbar a {
        display: block;
        text-align: center;
    }

    .header .container nav .right-data #menu {
        display: inherit;
    }



}

@media (max-width:1080px) {
   
    section {
        padding: 10px 25px;
    }

    .navbar {
        margin-top: 100px;
    }

    .header .container {
        width: 100%;
    }

}

@media (max-width:756px) {
    .header {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .navbar2 {
        position: fixed;
        width: 100%;
        top: 60px;
        left: 0;
        background-color: #fff;
        display: none;
        /* Initially hidden */
        flex-direction: column;
        overflow: hidden;
        /* Ensures that content does not overflow */
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
        /* Smooth transition */
        max-height: 0;
        /* Start with zero height */
        opacity: 0;
        /* Start fully transparent */
    }

    .navbar2.active {
        display: flex;
        /* Display flex */
        max-height: 500px;
        /* Adjust max-height based on content */
        opacity: 1;
        /* Fully opaque */
    }

    .navbar2 a {
        color: #0E2E50 !important;
        border-bottom: 1px #0E2E50 dotted;
    }

    .header .container nav .right-data #menu2 {
        display: block;
        /* Show menu icon on mobile */
        cursor: pointer;
        /* Add cursor pointer for better UX */
    }

    section {
        padding: 10px 16px;
    }

    .header .container {
        padding: 0;
    }

    .header .container .right-data .whatsapp {
        margin-right: 10px;
        padding: 3px 5px 3px 5px;
        font-size: 14px;
    }

}

@media (max-width:640px) {
    section {
        padding: 10px 10px;
    }

    .header .container nav .right-data #menu {
        margin-right: 0 !important;

    }

    .header .container nav .right-data button {
        display: none;
    }

}


.fade-left {
    opacity: 0;
    transform: translateX(-200px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-right {
    opacity: 0;
    transform: translateX(200px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-up {
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-down {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Active class to trigger animations */
.fade-in {
    opacity: 1 !important;
    transform: translateX(0) !important;
}
/* Custom styles for dots */
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    background-color: #85e7a9; /* Light green background */
}

.slick-dots li.slick-active {
    background-color: #16A34A; /* Green for active dot */
}

.slick-dots li button {
    width: 100%; /* Ensure button covers the dot area */
    height: 100%;
    opacity: 0; /* Hide the button content */
}

.slick-dots li button:before {
    display: none; /* Completely hide the pseudo-element */
}

iframe {
    width: 100% !important;
    height: 500px !important;

}

.modal {
    position: absolute;
    width: 100%;
    background: rgba(42, 60, 68, 0.737);
    height: 100vh;
    z-index: 999 !important;
    top: 0;

}

.hero {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Prevents any overflow */
}

.home-hero-slider {
    position: relative;
    width: 100%;
    height: 100%;
}

.home-hero-slider .slick-slide {
    width: 100%;
    height: 100%;
}

.home-hero-slider:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
            127.18% 107.82% at 52.52% 100%, 
            rgba(43, 68, 42, 0) 0, 
            rgba(42, 68, 48, 0) 66.59%, 
            rgba(42, 68, 44, 0.48) 99.98%
        ),
        linear-gradient(
            99deg, 
            rgba(7, 53, 7, 0.7) 5.93%, 
            rgba(9, 53, 7, 0.14) 80.83%
        );
    z-index: 2;
    pointer-events: none; /* Ensure it's non-interactive */
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.video-container .video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire section */
    object-position: center;
}


.slide-caption {
    position: absolute;
    left: 10%;
    bottom: 25%;
    z-index: 99 !important;
    display: flex;
    flex-direction: column;
}


.slide-caption h2 {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
    margin: 0;
}

.slide-caption p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    line-height: 35.2px;
}

.btn-ghost {
    padding: 10px 20px;
    width: 200px;
    /* border-radius: 50px; */
    border: 1px solid #232323;
    background-color: #fff;
    color: #232323;
}


@media (max-width:1030px) {

    .hero {
        margin: 0;
        padding: 0;
    }

    .slide-caption {
        display: flex;
        bottom: 25vh;
        left: 20px;

        width: 100%;
    }

    .slide-caption h2 {
        padding-right: 20px;
        font-size: 30px;
    }


    .slide-caption p {
        font-size: 14px
    }
}


.company-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.company-description {
    padding-left: 35px;
    width: 50%;
}

.company-description h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.company-description p {
    font-size: 14px;
    color: #666;
}

.company-description .contact-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #16A34A;
    border: 1px solid #1fa14f;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
}

.company-image {
    height: 100%;
    width: 50%;
}

.company-image img {
    width: 100%;
    object-fit: fill;
    height: auto;
    border-radius: 8px;
}

.company-stats {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.stat-box {
    width: 120px;
    height: 80px;
    background-color: #f5f5f5;
    /* border-radius: 8px; */
    padding: 10px;
    text-align: center;

}

.stat-box2 {
    color: #fff;
    background-color: #10500e;
}

.stat-box3 {
    background-color: #d6f0d5;
}

.stat-box h3 {
    font-size: 2.0em;
    margin: 0;
}

.stat-box p {
    color: #666666;
    margin: 5px 0 0;
}

.stat-box2 p {
    color: #fff;
    margin: 5px 0 0;
}

@media (max-width:1400px) {

    .listings {
        flex-direction: column;
    }

    .listings-header,
    .listings-grid {
        width: 100%;
    }

    .listings-grid {
        padding-left: 0;
        margin-top: 20px;
    }

    .company-section {
        position: relative;
        display: flex;
        flex-direction: column;

    }

    .company-content {
        width: 100%;
        position: relative;
        margin: auto;
    }

    .company-stats {
        width: 100%;
    }
}

@media (max-width:912px) {
    .company-section {
        margin: 0;
    }

    .company-content {
        width: 100%;

        display: flex;
        flex-direction: column;

    }

    .company-stats {
        width: 100%;
    }

    .company-image {
        width: 100%;
    }

    .company-image img {
        width: 100%;
    }

    .company-description {
        padding: 10px;
        width: 100%;
    }

    .stat-box {
        width: 45%;
        height: 150px;
    }
}
